{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<p style="text-align:center">KU Polls</p>

{% if messages %}
<ul class="messages">
  {% for msg in messages %}
    <li class="{{msg.tags}}">{{ msg }}</li>
  {% endfor %}
</ul>
{% endif %}


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        {% if question.is_published %}
        <li> {% if question.can_vote %}
        <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            <a href="{% url 'polls:detail' question.id %}"><Button>Vote</button></a>
            {% else %}
            <a href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a>
            {% endif %}
        <a href="{% url 'polls:results' question.id %}"><Button>Results</button></a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
